
.navBarContainer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: rgb(61, 61, 61);
    position: absolute;
    width: 100%;
}

.navBarElement{
    padding-top: 10px;
    padding-bottom: 10px;
}

.pokePlannerTitleContainer{
    margin-left: 7px;
}

.pokePlannerTitleHeader{
    margin: 0;
}

.burgerButton{
    display: none;
}



.hiddenNavbarButton{
    display: none;
}

@media(min-width: 451px) {

    .navBarButtonContainer{
        flex-direction: row;
    }

}

@media(max-width: 450px) {

    .navBarButtonContainer{
        display: none;
        flex-direction: column;
        height: 100%;
        border-top: 2px solid black;
        align-items: flex-end;
    }

    .navBarButtonContainer.isOpen{
        display: flex;
        width: 100%;
    }

    .burgerButton{
        display: flex;
    }

}